.profile-image-modal
  %p.modal-delete.close ×
  .profile-image-change
    %p.modal-title プロフィール写真を変更する
    = form_with(model: @user.profile, url: image_path, method: 'put') do |f|
      = f.label :avatar, '写真をアップロード', class: 'profile-modal profile-preview'
      = f.file_field :avatar, class: 'image-file-modal'
      = f.submit '変更しますか？', class:'btn-profile hidden'
    %p.profile-modal-close.close キャンセル
%section
  .container.profile{data: {id: @user.id}}
    .profile-top
      .profile-left
        - if current_user.id == @user.id 
          .profile-image.change-icon
            = image_tag @user.has_avatar, width: '120px', height: '120px', class: 'user-icon'
        - else
          .profile-image-wrong.change-icon
            = image_tag @user.has_avatar, width: '120px', height: '120px', class: 'user-icon'
      .profile-right
        .profile-info
          %h2= @user.account
          - if current_user.id == @user.id
            .btn-edit-profile
              = link_to 'プロフィールを編集する', edit_profile_path(@user)
          - else
            .btn-follow.hidden{class: "btn-follow#{@user.id}", data: {id: @user.id}}
              %p フォローする
            .btn-rm.hidden{class: "btn-rm#{@user.id}", data: {id: @user.id}}
              %p フォロー中
        .profile-middle
          .profile-box
            %p.amount=@user.posts.count
            %p.info 投稿
          .profile-box.modal-follower-show
            %p.amount#follower-amount=@user.followers.count
            %p.info フォロワー
          .modal-follower.hidden
            .follower-container
              %p.follow-title フォロワー
              %p.modal-follower-delete ×
              .follower-list
                - if @user.followers
                  - @followers.each do |follower|
                    .follower-info{data: {id: follower.id}}
                      .follower-image
                        = link_to do
                          = image_tag follower.has_avatar, width: '40px', height: '40px'
                      .follower-account
                        = link_to follower.account, '#'
                      .modal-follow-btn.hidden{class: "modal-follow-btn#{follower.id}", data: {id: follower.id}}
                        %p フォローする
                      .modal-nofollow-btn.hidden{class: ".modal-nofollow-btn#{follower.id}", data: {id: follower.id}}
                        %p フォロー中
          .profile-box.modal-following-show
            %p.amount=@followings.count
            %p.info フォロー
          .modal-following.hidden
            .following-container
              %p.following-title フォロー
              %p.modal-following-delete ×
              .following-list
                - if @user.followings
                  - @followings.each do |following|
                    .following-info
                      .following-image
                        = link_to do
                          = image_tag following.has_avatar, width: '40px', height: '40px'
                      .following-account
                        = link_to following.account, '#'
                      .modal-follow-btn.hidden{class: "modal-follow-btn#{following.id}", data: {id: following.id}}
                        %p フォローする
                      .modal-nofollow-btn.hidden{class: ".modal-nofollow-btn#{following.id}", data: {id: following.id}}
                        %p フォロー中   
        - if @user&.profile&.introduction.present?
          .profile-bottom
            .profile-introduction
              %p= @user.profile.introduction
%section.profile-post-container
  .container
    .profile-posts
      - if @user.posts
        - @user.posts.each do |post|
          .profile-post{data: {id: post.id}}
            = image_tag post.images[0], width: '100%', height: '100%'

          .post-modal.hidden{class: "post-modal#{post.id}"}
            %p.modal-delete ×
            .post-modal-image
              .post-modal-left
                .slider
                  - post.images.each do |image|
                    = image_tag image, width: '100%', height: '600px'
              .post-modal-right
                .modal-account
                  = image_tag @user.has_avatar, width: '35px', height: '35px'
                  %p= @user.account
                .modal-comment-container{class: "modal-comment-container#{post.id}"}
                .comment-text-area
                  = text_area_tag :"profile_content#{post.id}", '', class: 'comment-form'
                  .btn-comment-profile{data: {id: post.id}}
                    投稿する
= javascript_pack_tag 'profile'





