%section.timeline
  .posts
    .container
      - @posts.each do |post|
        .post#post-show{data: {post_id: post.id}}
          .post-top
            .post-top-left
              .post-user-icon  
                - if post.user.profile.avatar.attached?
                  = link_to profile_path(post.user) do
                    = image_tag post.user.profile.avatar, width: '50px', height: '50px'
                - else
                  = link_to profile_path(post.user) do
                    = image_tag 'user-icon.png', width: '50px', height: '50px'
            .post-top-right
              = link_to post.user.account, profile_path(post.user), class: 'post-user-account'
              .post-time= post.created_at
          .post-middle
            .post-image
              .slider
                - post.images.each do |image|
                  = image_tag image, width: '100%', height: '500px'
          .post-bottom
            .post-bottom-item
              .post-like
                .active-like.hidden{class: "active-like#{post.id}", data: {id: post.id}}
                  = image_tag 'like.active.png', width: '20px', heght: '20px'
                .like.hidden{class: "like#{post.id}", data: {id: post.id}}
                  = image_tag 'like.png', width: '20px', heght: '20px'
              .post-comment
                = image_tag 'comment.png', width: '20px', heght: '20px' 
              .post-share
                = link_to "https://twitter.com/intent/tweet?url=https://http://localhost:3000/posts" do
                  = image_tag 'share.png', width: '20px', heght: '20px'
            .post-bottom-liked
              %p emily5555, 他５万人がいいねしました！
            .post-bottom-content
              .account-name
                = post.user.account
              .post-content
                = post.content
            .post-bottom-comment
              %p.comment-title コメント
              .comment-container
                .comment-show
          .comment-text-area
            = text_area_tag :comment_content, '', placeholder: 'コメントを追加...', class: 'comment-form'
            .btn-comment
              投稿する



