%section.timeline
  .posts
    .container
      - @posts.each do |post|
        .post#post-show{data: {post_id: post.id}}
          .post-top
            .post-top-left
              .post-user-icon  
                = link_to profile_path(post.user) do
                  = image_tag post.user.has_avatar, width: '50px', height: '50px'
            .post-top-right
              = link_to post.user.account, profile_path(post.user), class: 'post-user-account'
              .post-time= post.created_at
          .post-middle
            .post-image
              .slider
                - post.images.each do |image|
                  = image_tag image, width: '100%', height: '500px'
          .post-bottom
            .post-bottom-item
              .post-like
                .active-like.hidden{class: "active-like#{post.id}", data: {id: post.id}}
                  = image_tag 'like.active.png', width: '20px', heght: '20px'
                .like.hidden{class: "like#{post.id}", data: {id: post.id}}
                  = image_tag 'like.png', width: '20px', heght: '20px'
              .post-comment{data: {id: post.id}}
                = image_tag 'comment.png', width: '20px', heght: '20px'
              .post-modal.hidden{class: "post-modal#{post.id}"}
                %p.modal-delete ×
                .post-modal-image
                  .post-modal-left
                    .slider
                      - post.images.each do |image|
                        = image_tag image, width: '100%', height: '600px'
                  .post-modal-right
                    .modal-account
                      = image_tag post.user.has_avatar, width: '35px', height: '35px'
                      %p= post.user.account
                    .modal-comment-container{class: "modal-top-comment-container#{post.id}"}
                    .comment-text-area
                      = text_area_tag :"top_content#{post.id}", '', class: 'comment-form'
                      .btn-top-comment{data: {id: post.id}}
                        投稿する
              .post-share
                = link_to "https://twitter.com/intent/tweet?url=https://http://localhost:3000/posts" do
                  = image_tag 'share.png', width: '20px', heght: '20px'
            .post-bottom-liked{class: "like-counts#{post.id}"}
            .post-bottom-content
              .account-name
                = post.user.account
              .post-content
                = post.content
            .post-bottom-comment
              %p.comment-title{data: {id: post.id}} コメント一覧
              .comment-container{class: "comment#{post.id}"}
          .comment-text-area
            = text_area_tag :"comment_content#{post.id}", '', placeholder: 'コメントを追加...', class: 'comment-form'
            .btn-comment{data: {id: post.id}}
              投稿する
    = link_to new_post_path do
      = image_tag 'camera-icon.png',  width: '90px', height: '80px', class: 'link-new-post'
= javascript_pack_tag 'post'




