!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Instagram
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link{href: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css", rel: "stylesheet", type: "text/css"}/
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %script{type: "text/javascript", src: "http://code.jquery.com/jquery-1.11.0.min.js"}
    %script{src: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js", type: "text/javascript"}
  %body
    %header 
      .container.header
        - if current_page?(root_path)
          .header-left
            = link_to root_path do
              = image_tag 'Instagram_logo.png', width: '100px', height: '40px'
          .header-right
            .dropdown-heart
              = image_tag 'heart.png', class: 'header-heart', width: '38px', height: '38px'
              .dropdown-heart-content
                = link_to 'お気にり', '#'
                = link_to '人気のユーザー', '#'
            .dropdown
              = image_tag current_user.has_avatar, class: 'header_avatar', width: '45px', height: '45px'
              .dropdown-content
                = link_to '新規投稿', new_post_path
                = link_to 'プロフィール', profile_path(current_user)
                = link_to 'ログアウト',  destroy_user_session_path, method: :delete
        - else
          - if user_signed_in?
            .header-left
              = link_to :back do
                = image_tag 'back.png', height: '30px', class: 'link-back'
              = link_to root_path do
                = image_tag 'Instagram_logo.png', width: '100px', height: '40px'
            .header-right
              .dropdown-heart
                = image_tag 'heart.png', class: 'header-heart', width: '38px', height: '38px'
                .dropdown-heart-content
                  = link_to 'お気にり', '#'
                  = link_to '人気のユーザー', '#'
              .dropdown
                = image_tag current_user.has_avatar, class: "header_avatar",width: '45px', height: '45px'
                .dropdown-content
                  = link_to '新規投稿', new_post_path
                  = link_to 'プロフィール', profile_path(current_user)
                  = link_to 'ログアウト',  destroy_user_session_path, method: :delete
    - if flash.present?
      .flash
        - flash.each do |key, value|
          %div{:class => key}= value
    = yield